#################################################################################################
#######################################  EXECUTION SETUP  #######################################
#################################################################################################

# DECK_API_HOSTNAME         Name of the server hosting the Kong API of the system.
#                           default: api.exp.localhost
DECK_API_HOSTNAME=api.exp.localhost

# DECK_WEB_APP_HOSTNAME     Name of the server hosting the Frontend of the system.
#                           default: exp.localhost
DECK_WEB_APP_HOSTNAME=exp.localhost

# DECK_WEB_APP_SERVICE      URI used to connect to the Web-App service.
#                           default: https://web-app:8081
DECK_WEB_APP_SERVICE=https://web-app:8081

# DECK_ACCOUNT_SERVICE      URI used to connect to the Account service.
#                           default: https://account:3001
DECK_ACCOUNT_SERVICE=https://account:3001

# DECK_BUDGETS_SERVICE      URI used to connect to the Budgets service.
#                           default: https://budgets:4001
DECK_BUDGETS_SERVICE=https://budgets:4001

# DECK_CATEGORIES_SERVICE      URI used to connect to the Categories service.
#                              default: https://categories:5001
DECK_CATEGORIES_SERVICE=https://categories:5001

# DECK_EXPENSES_SERVICE      URI used to connect to the Expenses service.
#                            default: https://fiscal-documents:6001
DECK_EXPENSES_SERVICE=https://fiscal-documents:6001

# DECK_INCOMES_SERVICE      URI used to connect to the Incomes service.
#                           default: https://incomes:7001
DECK_INCOMES_SERVICE=https://incomes:7001
